
/* Player header */
.player-header {
  margin-bottom: 30px;
}

.player-title {
  font-size: 1.5rem;
  color: #dc3545;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.player-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.player-team-badge {
  display: inline-block;
  background-color: #dc3545;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Player image */
.player-image-container {
  position: relative;
  margin-bottom: 20px;
}
.header-detail-info-player {
    width: 100%;
    height: 9rem;
    background-color: rgb(0, 22, 64);

}

.player-image {
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}

.player-season {
    width: 100%;
  position: absolute;
  bottom: -10px;
right: 0;
  background-color: rgb(0, 22, 64);
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 6;
}

/* Player stats */
.player-stats {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

.stat-item {
  text-align: center;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.stat-number {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.stat-number.yellow-card {
  color: #ffc107;
}

.stat-number.red-card {
  color: #dc3545;
}

.stat-label {
  font-size: 0.9rem;
  color: #6c757d;
}
.img-fluid {
    z-index: 5;
}
/* Additional info */
.additional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.info-label {
  font-weight: bold;
  color: #333;
}

.info-value {
  color: #6c757d;
}
@keyframes colorFade {
  0% {
    color: rgb(210, 210, 210);
  }
  50% {
    color: rgb(0, 22, 64);
  }
  100% {
    color: rgb(210, 210, 210);
  }
}

.player-number-info {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 13rem;
  font-weight: 900;
  top: -1.2rem;
  z-index: 1;
  color: rgb(210, 210, 210);
  animation: colorFade 10s infinite ease-in-out;
}
.main-detail-player-info {
    background: url('../../assets/bg-white.png') center/cover;
}
/* Responsive */
@media (max-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .additional-info {
    grid-template-columns: 1fr;
  }
  
  .player-name {
    font-size: 2rem;
  }
}